<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.blogspot.iamdhariot.newera">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/newera_round_corner"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/newera_circular"
        android:supportsRtl="true"
        android:theme="@style/noActionbarFullScreen">
        <activity
            android:resizeableActivity="false"
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:name=".SignInActivity"
            android:screenOrientation="portrait"
           />
        <activity
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            />
        <activity
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            />
        <activity
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:name=".AskActivity"
            android:screenOrientation="portrait"
          />
        <activity android:name=".QuestionCategoriesActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".TestCategoriesActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".QuestionProgramingCataActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".TestProgramingCataActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".QuestionBoardActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ResultActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".QuestionAnsActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".CheckDatabaseHaveUserData"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ChoicesActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".TestBoardActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AboutActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ProfileActivity"
            tools:targetApi="n"
            android:resizeableActivity="false"

            android:screenOrientation="portrait"
            />
    </application>

</manifest>